*{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-sizing: border-box;
}

header nav img{
    width: 160px;
}

header li{
    margin: 0 12px;
    display: block;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

/* header */
/*
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    transition: top .4s ease-in-out;
}

.logo{
    display: flex;
    margin: 0 0 0 5%;
}

nav{
    display: flex;
}

.nav_list{
    display: flex;
}

.nav_list a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin: 0 1em;
}
*/

/* main */

.main{
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main p{
    color: white;
    font-size: 2em;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: 0.25em;
    text-align: center;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.banner {
    margin-top: 76px;
    overflow: hidden;
    position: relative;
}
.banner .container-fluid {
	padding:0!important;
}


/* menu */
.menu{
    margin: auto;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cube1, .cube2, .cube3, .cube4{
    max-width: 290px;
    height: 290px;
    display: block;
    margin: 0.5em;
    overflow: hidden;
}

.describe{
    margin: 4em 0 0 2.5em;
    color: white;
}


.title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.25em;
}

.contain{
    font-size: 14px;
    letter-spacing: 0.15em;
    width: 220px;
    min-height: 50px;
}

.learnmore{
    font-size: 14px;
    letter-spacing: 0.25em;
    padding: 0.25em 0.5em;
    
    float: left;
}
.learnmore{
    background-color: white;
    transition: 0.2s;
}
.learnmore:hover{
    background-color: black;
}

.learnmore a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: 0.2s;
}
.learnmore a:hover{
    text-decoration: none;
    color: white;
}

/* latest news */

.LatestNews-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.25em;
    text-align: center;
    padding-top: 10vh;
    color: black;    
}

.LatestNews{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news1, .news2, .news3{
    max-width: 300px;
    margin: 3em;
    justify-content: space-between;
}

.LatestNews img{
    height: 300px;
    max-width: 300px;
    display: block;
    overflow: hidden;
}

.LatestNews span img{
    transform: scale(1);
    opacity: 0.7;
    transition: .5s;
}

.LatestNews span:hover img{
    transform: scale(1.05);
    opacity: 1;
    border-radius: 10%;
    transition: .5s;
}

.LatestNews span>a{
    display: block;
    overflow: hidden;
}

.news-date{
    font-size: 12px;
    letter-spacing: 0.25em;
}

.news-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.news-hr{
    width: 300px;
    border-top: solid black 0.1em;
    margin-bottom: 1em;
}


.news-contain{
    min-height: 5em;
    letter-spacing: 0.25em;
}

.news-contain a{
    text-decoration: none;
    color: black;
    transition: .2s;
}

.news-contain a:hover{
    text-decoration: none;
    color: #FF6900;
    transition: .2s;
}


/* footer */
.footer{
    background-color: #454545;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.footer_bg{
    background-color: #454545;   
}
.footer_container{
    padding: 20px 20px;
}
.about{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
}
.more{
    display: flex;
    flex-direction: row;  
    font-size: 14px;
    font-weight: bold;
}
.more_link{
    margin: 0px 7px;
}
.mei_footer_img{
    margin: 0px 10px;
}

/* S size */
@media (orientation: portrait), (max-width:767px) {
    .main  p{
        font-size: 24px;
    }
    .menu{
        max-width: 320px;
    }
    .title{
        font-size: 20px;
    }
    .learnmore{
        font-size: 18px;
        float: none;
        text-align: center;
        width: 120px;
        height: 40px;
        margin: auto;
        margin-top: 2em;
    }
    .LatestNews{
        max-width: 400px;
    }
    
    .news-date{
        font-size: 8px;
    }
    .news-title{
        font-size: 16px;
    }
    .news-contain{
        font-size: 12px;
    }
}